{% extends 'base.html.twig' %}

{% block pageContent %}

    <h1>Dodaj</h1>

    {% include 'partials/flashMsg.html.twig' %}

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

{% endblock %}